.header {
    background: rgb(40, 45, 75);
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.header li {
    float: left;
}
.header li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px;
    font-size: 1rem;
    font-family: Playfair Display;
}
.header li a:hover {
    background:rgb(40, 40, 40);
}